.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.slider__container {
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 400px;
}

.slider__track {
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    bottom: 0px;
}

.slider__image {
    max-width: 500px;
    max-height: 500px;
    padding: 5px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    /*
    box-shadow: -5px -5px 5px #E6E6E6;
    */
    box-sizing: border-box;
    transition: ease all 1.8s;
}

.button--effect:focus {
    background-color: #008CBA;
}

.button--effect {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 20px;
    font-size: 18px;
}


.button__swipe {
    width: 30px;
    height: 30px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    background: #464646;
    box-shadow: 1px 1px 3px whitesmoke;
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button__swipe--left {
    left: 0;
}

.button__swipe--right {
    right: 0;
}

.slider {
    position: relative;
}

.slider__image--fadeout {
    animation-name: fadeout;
    animation-duration: 0.8s;
}

.slider__image--fade {
    opacity: 0;
}

@keyframes fadeout{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.slider__image--fadein {
    animation-name: fadein;
    animation-duration: 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}